@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html,body {
  height: 100%;
  width: 100%;
}
.ml-20 {
  margin-left: 5rem;
}
.pt-16 {
 padding-top:4.3755rem;
}
.text-navy-blue {
  color: #283593;
}
.card {
  box-shadow: 0 0 4px #888;
}
.form-layout {
  max-height: calc(100vh - 126px);
  overflow: auto;
}
