@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.ml-20 {
  margin-left: 5rem;
}
.pt-16 {
 padding-top:4.3755rem;
}
.text-navy-blue {
  color: #283593;
}
